 
 .btn-danger {
      background-color: #dc3545;
      color: #fff;
      font-weight: 300;
      border-radius: 0.5rem;
      text-decoration: none;
    }
    .btn-danger {
      background-color: #c82333;
      color: #fff;
    }

